@font-face {
  font-family: "ITC Avant Garde Gothic LT Bold";
  src: url('/fonts/ITC Avant Garde Gothic LT Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: normal

};

@font-face {
  font-family: "ITC Avant Garde Gothic LT Book Regular";
  src: url('/fonts/ITC Avant Garde Gothic LT Book Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal

};
